.App {
  text-align: center;
}

/* === Editor === */

.editor-container{
  max-width: 610px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}

.editor-toolbar{
  display: flex;
  flex-direction: row;
  height: 36px;
  max-width: 610px;
  border-bottom: 2px solid black;
  margin-bottom: .3em;
}

.editor-toolbar i{
  margin: .4em .4em .4em auto;
}

.editor-toolbar i:hover{
  color: lightblue;
  cursor: pointer;
}

#editor{
  max-width: 600px;
  resize: vertical;
}

/* === Previewer === */

.previewer-container{
  max-width: 810px;
  margin: 4em auto 0 auto;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}

.previewer-toolbar{
  height: 36px;
  max-width: 810px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
}

.previewer-toolbar i{
  margin: .4em .4em .4em auto;
}

.previewer-toolbar i:hover{
  color: lightblue;
  cursor: pointer;
}

#preview{
  border-top: 2px solid black;
  padding: 1em 1.5em;
  max-width: 800px;
  min-height: 900px;
}


img{
  
  width: 200px;
  height: 200px;
}

/* === Hide === */

.hide-editor{
  display: none;
}

.hide-previewer{
  display: none;
}

.editor-max{
  min-height: 500px;
}

.editor{
  min-height: 200px;
}