.App {
  text-align: center;
}

.editor-container{
  max-width: 610px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}

.editor-toolbar{
  height: 36px;
  max-width: 600px;
}

#editor{
  max-width: 600px;
  min-height: 200px;
  resize: vertical;
}


.previewer-container{
  max-width: 810px;
  margin: 4em auto 0 auto;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}

.previewer-toolbar{
  height: 36px;
  max-width: 800px;
}

#preview{
  padding: 1em 1.5em;
  max-width: 800px;
  min-height: 900px;
}